/*reset.simples*/
*{margin:0;
    padding: 0;

}

:root {
    --rosa: hsl(0, 73%, 64%);
    --amarelo: hsl(47, 89%, 45%);
}
body{
    color:beige;
    background-color: var(--rosa)
}
#titulo {
    color: var(--amarelo);
}
.quebra-cabeça{
    display: flex;
    flex-wrap:wrap;
    width: 450px;
    margin-left: 200px;
}